.juntagrico-logo {
    background: url(/static/juntagrico-planktonbasel/img/plankton_logo.png) 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 580px;
    height: 161px;
}
